* {
    padding: 0;
    margin: 0;
}

/* document */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

main {
    width: 640px;
    margin: 0 auto;
}

/* nav */

nav {
    margin-bottom: 20px;
}

ul {
    color: #4f5b93;
    display: flex;
    justify-content: center;
}

li {
    padding: 5px;
    list-style-position: inside;
    list-style-type: square;
}

/* grocery table */

table {
    width: 500px;
    border-collapse: collapse;
    margin: 0 auto 20px;
}

thead th {
    text-align: left;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #8892bf;
    color: #e2e4ef;
    border-bottom-color: #4f5b93;
    border-bottom-width: 4px;
}

th,
td {
    border: 1px solid #888;
    padding: 5px;
}

td:nth-child(3) { /* aantal */
    text-align: center;
}

table button,
table input {
    padding: inherit;
    width: 35px;

}
table input {
    text-align: right;
}

tfoot th {
    text-align: right;
}

.productPrice,
.productTotalCost,
#totalCost {
    text-align: right;
}

/* create form */
p.error {
    width: 320px;
    margin: 0 auto 20px;
    border: 3px double red;
    font-style: italic;
    text-align: center;
    padding: 10px;
}
#create {
    display: grid;
    width: 360px;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
}
label {
    text-align: right;
    padding: 5px;
}
#create input {
    padding: 5px;
}

#create button {
    grid-column-start: 2;
    width: 100px;
    padding: 5px;
}
